@use "./assets/variables.scss" as *;

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Microsoft YaHei', Arial, sans-serif;
  font-size: $font-size-md;
  color: $color-text-primary;
  background-color: $color-bg-secondary;
}

.container {
  padding: $spacing-lg;
}
